h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: green;
  opacity: 1;
  background: rgba(0, 128, 0, 0.8)
}

body {
  background-color: black;
  color: white;
}
